html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root{
  --color-5fb4a2 : #5fb4a2;
  --color-56a292 : #56a292;
  --color-203a4c : #203a4c;
  --color-33323d : #33323d;
  --color-fafafa : #fafafa;
  --color-eaeaeb : #eaeaeb;
  --color-ececed : #ececed;
  --color-f43030 : #f43030;
  --color-1d3445 : #1d3445;
  --color-f2f2f2 : #f2f2f2;
  --color-fafafa : #fafafa;
  --color-807373 : #807373;
  --color-d2d8db : #d2d8db;
  --color-d2d6da : #d2d6da;
  --color-ffffff : #fff;
  --font-ibarra: 'Ibarra Real Nova', serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--color-fafafa);
  font-family: 'Public Sans', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

button{
  cursor: pointer;
}

h1{
  font-family: var(--font-ibarra);
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.446429px;
  color: var(--color-33323d);
}

h2{
  font-family: var(--font-ibarra);
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: var(--color-33323d);
}

h3{
  font-family: var(--font-ibarra);
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.285714px;
  color: var(--color-33323d);
}

.text-big{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-33323d);
}

.text-small{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: var(--color-33323d);
}

.btn-full{
  display: inline-block;
  position: relative;
  width: 200px;
  height: 48px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-ffffff);
  padding: 17px 0;
  padding-left: 48px;
  background-color: var(--color-203a4c);
  transition: all 0.4s ease;
}
.btn-full::before{
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url("../img/down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 14px;
  background-color: var(--color-1d3445);
  top: 0;
  left: 0;
  transition: all 0.4s ease;
}

.btn-full:hover{
  background-color: var(--color-5fb4a2);
}

.btn-full:hover::before{
  background-color: var(--color-56a292);
}

.btn-full:active{
  background-color: var(--color-d2d8db);
}

.btn-full:active::before{
  background-color: var(--color-d2d6da);
}

.btn{
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-33323d);
  padding: 17px 32px;
  border: 1px solid var(--color-33323d);
  background-color: transparent;
  transition: all 0.4s ease;
}

.btn:hover{
  background-color: var(--color-33323d);
  color: var(--color-fafafa);
}

.btn:active{
  opacity: 0.2;
  background-color: transparent;
  color: var(--color-33323d);
}

input{
  background: #33323d3b;
  padding: 9px 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-33323d);
  border: 1px solid transparent;
}

input:focus{
  background: var(--color-ececed);
  border-color: var(--color-5fb4a2);
  opacity: 1;
  outline: none;
}

input::placeholder{
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-33323d);
  opacity: 0.6;
}

textarea{
  background: #33323d3b;
  padding: 9px 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-33323d);
  border: 1px solid transparent;
}

textarea:focus{
  background: var(--color-ececed);
  border-color: var(--color-5fb4a2);
  opacity: 1;
  outline: none;
}

textarea::placeholder{
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-33323d);
  opacity: 0.6;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.nav {
  transition: all 0.4s ease;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 43px;
}
.nav__item.active .nav__link{
  color: var(--color-5fb4a2);
}
.nav__link {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-33323d);
  transition: all 0.4s ease;
}
.nav__link:hover{
  color: var(--color-5fb4a2);
}
.site-header__btn__menu {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 30px;
  display: none;
  background-image: url("../img/menu.svg");
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.4s ease;
}
.site-footer {
  background-color: var(--color-33323d);
  padding: 24px 0;
}

.footer__row {
  margin: 0;
}

.footer__logo {
  width: 60px;
  height: 32px;
}

.footer-nav__list {
  margin: 0;
  margin-left: 50px;
}

.footer-nav__item:not(:first-child) {
  margin-left: 42px;
}

.footer-nav__link {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-ffffff);
  transition: color 0.4s ease;
}

.footer-nav__link:hover {
  color: var(--color-5fb4a2);
}

.footer-nav__link:active {
  opacity: 0.6;
}

.footer-social__list {
  margin: 0;
  margin-left: auto;
}

.footer-social__item:not(:first-child) {
  margin-left: 16px;
}

.footer-social__link {
  color: var(--color-ffffff);
  font-size: 24px;
  transition: color 0.4s ease;
}

.footer-social__link:hover {
  color: var(--color-5fb4a2);
}


.footer-social__link:active {
  opacity: 0.6;
}

.intres__title{
  width: 350px;
  position: relative;
}
.intres::after{
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #33333325;
  top: 50%;
  left: calc(50% - 190px);
}
.intres {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 150px 0;
  position: relative;
}

@media screen and (max-width:1100px) {
  .intres::after{
    width: 40%;
    left: calc(50% - 120px);
  }
}
@media screen and (max-width:996px) {
  .intres::after{
    width: 30%;
    left: calc(50% - 50px);
  }
}
@media screen and (max-width:810px) {
  .intres::after{
    width: 20%;
    left: 50%;
  }
}
@media screen and (max-width:768px) {
  .intres{
    flex-direction: column;
  }
  .intres::after{
    display: none;
  }
  .intres__title{
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
  }
}


@media screen and (max-width: 648px) {
.nav{
    display: none;
  }
  .site-header__btn__menu{
    display: inline-block;
  }
  .open .nav{
    display: block;
  }
  .open .nav__list{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 223px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--color-33323d);
    position: absolute;
    top: 80px;
    right: 30px;
    z-index: 989;
  }
  .open .nav__link{
    color: var(--color-ffffff);
  }
  .open .nav__item:not(:last-child){
    margin-right: 0;
    margin-bottom: 32px;
  }
  .open .site-header__btn__menu{
    background-image: url("../img/exit.svg");
  }
  .site-footer {
    padding: 56px 0;
  }
  .footer__logo {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 40px;
  }
  .footer-nav__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    margin: 0 auto;
  }
  .footer-nav__item {
    margin-left: 0;
    margin-bottom: 32px;
  }
  .footer-nav__item:not(:last-child) {
    margin-left: 0;
    margin-bottom: 32px;
  }
  .footer-nav__item:last-child {
    margin-left: 0;
    margin-bottom: 32px;
  }
  .footer-nav__link {
    margin: 0 auto;
    justify-content: center;
  }
  .footer-social__list {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
}