.align-center {
  align-items: center;
}

.descrip__title {
  margin-bottom: 28px;
}

.dexcrip__txt {
  margin-bottom: 25px;
}




.second {
  flex-direction: row-reverse;
  margin-bottom: 40px;
  justify-content: space-evenly;
}

.third {
  margin-bottom: 40px;
  justify-content: space-evenly;  
}
.first,
.second,
.third {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-evenly;
}

.big__descrip{
  padding: 0;
  border-top: 1px solid rgba(51, 51, 51, 0.246);
  border-bottom: 1px solid rgba(51, 51, 51, 0.246);
  padding-top: 118px;
  padding-bottom: 118px;
  position: relative;
}

@media screen and (max-width:768px){
  .big__descrip{
    border: none;
  }
  .img_pink{
    margin-bottom: 25px;
  }
}